html, body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: TITLEfont;
    src: url(assets/Format_1452.otf);
}

#header{
    z-index: 1;
}
canvas {
    display: block;
}

#headerTopline{
    position: absolute;
    width: 100vw;
    height: 6px;
    left: 0px;
    top: 0px;
    background: #000000;
}

#headerBlock{
    position: absolute;
    width: 100vw;
    height: 100px;
    left: 0px;
    top: 6px;
    background: rgba(255, 255, 255, 0.2);
}

#headerBottomline{
    position: absolute;
    width: 100vw;
    height: 6px;
    left: 0px;
    top: 100px;
    background: #000000;
}

#headerText{
    position: absolute;
    width: 417px;
    height: 59px;
    left: 88px;
    top: 20px;

    font-family: 'TITLEfont';
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 82px;

    color: #FFFFFF;
}

#headerMenu{
    position: absolute;
    width: 500px;
    height: 25px;
    right: 100px;
    top: 75px;
    display: inline-flex;
}

.menuText{
    text-decoration: none;
}

.headerMenuText{
    position: relative;
    margin-left: 20px;
    width: 100px;
    height: 25px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    line-height: 21px;   
    color: #FFFFFF;
}

.dropdown-content {
    display: none;
    position: relative;
    left: 20px;
    background-color: #292929;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 30px;
}

#menu1:hover .dropdown-content {
    display: block;
}
#menu2:hover .dropdown-content {
    display: block;
}
#menu3:hover .dropdown-content {
    display: block;
}
#menu4:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover{
    background-color: #1b1b1b;
}

#menu1:hover .headerMenuText{
    text-shadow: 0px 0px #ffffff;
}
#menu2:hover .headerMenuText{
    text-shadow: 0px 0px #ffffff;
}
#menu3:hover .headerMenuText{
    text-shadow: 0px 0px #ffffff;
}
#menu4:hover .headerMenuText{
    text-shadow: 0px 0px #ffffff;
}

#mainContainer{
    margin:0 auto;
    position: relative;
    top: 106px;
    width: 980px;
    color: white;
    z-index: 0;
}

.mainTopic{
    position: relative;
    height: 42px;
    left: 20px;
    top: 100px;
    /* margin-top: 100px; */
    height: 42px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 80px;
}

.subTopic{
    position: relative;
    width: 145px;
    height: 21px;
    left: 30px;
}