html, body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: TITLEfont;
    src: url(assets/Format_1452.otf);
}

@font-face {
    font-family: 'Montserrat';
       src: url('/assets/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
       src: url('/assets/Montserrat-Medium.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
       src: url('/assets/Montserrat-Light.ttf');
    font-weight: light;
    font-style: normal;
}

#p5_loading {
    background-color: #000000;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    display: block;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#header{
    z-index: 1;
}
canvas {
    display: block;
    position: fixed;
}

#headerTopline {
    position: absolute;
    width: 100vw;
    height: 6px;
    left: 0px;
    top: 0px;
    background: #181818;
}

#headerBlock{
    position: absolute;
    width: 100vw;
    height: 100px;
    left: 0px;
    top: 6px;
    background: rgba(255, 255, 255, 0.2);
}

#headerBottomline{
    position: absolute;
    width: 100vw;
    height: 6px;
    left: 0px;
    top: 100px;
    background: #181818;
    /* box-shadow: 0px 2px 4px rgba(155, 155, 155, 0.473); */
}

#headerText{
    position: absolute;
    width: 417px;
    height: 59px;
    left: 88px;
    top: 30px;

    font-family: 'TITLEfont';
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    line-height: 82px;

    color: #FFFFFF;
}

#headerMenu{
    position: absolute;
    width: 500px;
    height: 25px;
    right: 100px;
    top: 75px;
    display: inline-flex;
}

.menuText{
    text-decoration: none;
}

.headerMenuText{
    position: relative;
    margin-left: 20px;
    width: 100px;
    height: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    line-height: 21px;   
    color: #FFFFFF;
}

.dropdown-content {
    display: none;
    position: relative;
    left: 10px;
    background-color: #292929;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 30px;
}

#menu1:hover .dropdown-content {
    display: block;
}
#menu2:hover .dropdown-content {
    display: block;
}
#menu3:hover .dropdown-content {
    display: block;
}
#menu4:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover{
    background-color: #1b1b1b;
}

#menu1:hover .headerMenuText{
    text-shadow: 0px 0px #ffffff;
}
#menu2:hover .headerMenuText{
    text-shadow: 0px 0px #ffffff;
}
#menu3:hover .headerMenuText{
    text-shadow: 0px 0px #ffffff;
}
#menu4:hover .headerMenuText{
    text-shadow: 0px 0px #ffffff;
}

#mainContainer{
    position: absolute;
    top: 106px;
    color: rgb(255, 255, 255);
    z-index: 0;
    width: 100vw;
    min-height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 75%, rgba(255,255,255,0) 100%);; */
}

#content{
    position: static;
    font-family: 'Montserrat';
    margin:0 auto;
    width: 980px;
    /* display: flex; */
    flex-direction: column;
    /* background-color: rgba(0, 0, 0, 0.2); */
    min-height: 100vh;
    /* padding: 50px; */
}

#placeHolder{
    height: 100px;
}

.menuTopic{
    position: relative;
    height: 80px;
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
}

.mainTopic{
    position: relative;
    height: 80px;
    left: 20px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
}

.subContainer{
    border-radius: 5px;
    position: relative;
    width: auto;
    height: auto;
    padding:30px;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    background-color: rgb(15, 15, 15);
}
.subTopic{
    position: relative;
    width: 500px;
    height: 21px;
    left: 30px;
    font-size: 20px;
    /* margin-top: 20px; */
    margin-bottom: 20px;
}

.subText{
    position: relative;
    display: block;
    width: 500px;
    left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.subLink{
    position: relative;
    display: block;
    width: 500px;
    height: 21px;
    left: 50px;
    color: rgb(255, 255, 255);
}

.seeMore{
    position: relative;
    display: inline;
    top: 10px;
    left: 830px;
    color: rgb(255, 255, 255);
}

.videoContainer{
    display: flex;
    position: relative;
    left: 20px;
}
.videoTextContainer{
    margin: auto 0;
    display: block;
    width: 480px;
}

.postText{
    position: relative;
    display: block;
    width: 400px;
    left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
}

.postTopic{
    position: relative;
    width: 400px;
    left: 50px;
    font-size: 20px;
    /* margin-top: 20px; */
    margin-bottom: 5px;
}

.postDate{
    position: relative;
    left: 52px;
    font-size: 12px;
    /* margin-top: 20px; */
}

.upcomingText{
    position: relative;
    display: block;
    width: 400px;
    left: 30px;
    margin-bottom: 10px;
    font-size: 15px;
}

.upcomingContainer{
    display: flex;
    position: relative;
    left: 20px;
    max-width: 940px;
    flex-direction: row;
    align-content: center;
}
.personContainer{
    display:flex;
    position: relative;
    height:150px;
    width:300px;
}
.profilePic{
    clip-path: circle(50% at 50% 50%);
    object-fit: cover;
    height:120px;
    width:120px;
    margin-top: 20px;
}
.profileTextContainer{
    position: relative;
    left: 10px;
    margin-top: 25px;
    /* margin: auto 0; */
    display: inline-block;
    max-width: 150px;
}

.profileTopic{
    position: relative;
    width: 400px;
    font-size: 20px;
    /* margin-top: 20px; */
    margin-bottom: 5px;
}

.profileMajor{
    position: relative;
    font-size: 12px;
    left: 2px;
}

.profileText{
    position: relative;
    display: block;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    left: 2px;
}

#frontPageTopic{
    position: absolute;
    width: 997px;
    height: 228px;
    left: 88px;
    top: 288px;
    
    font-family: 'Archivo Narrow', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 104px;
    
    color: #FFFFFF;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#frontPageText{
    position: absolute;
    width: 810px;
    height: 465px;
    left: 88px;
    top: 528px;

    font-family: 'Archivo Narrow', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;

    color: #FFFFFF;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}